# Personal learning notes and copyrighted subject PDFs — not for public repo
docs/
subject/

# macOS / editor
.DS_Store

# Compiled object files / binaries
*.o
a.out

# Executables (Makefile NAME of each exercise)
abstract
animal
array
brain
bsp
bureaucrat
claptrap
convert
diamondtrap
easyfind
fixed
form
forms
fragtrap
harl
harlFilter
identify
intern
iter
materia
megaphone
mutantstack
phonebook
pra
replace
scavtrap
serialize
span
violence
whatever
zombie
